.image-preview {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    /* 포스트 컨테이너와 글 쓰기 버튼을 양쪽으로 정렬 */
}

.AddList {
    order: 2;
    /* 글 쓰기 버튼을 첫 번째로 배치 */
    margin-left: auto;
    /* 오른쪽 여백 추가 */
}

.AddFont {
    font-size: 1.5em;
    color: #538eca;
    border-radius: 10px;
    text-align: right;
    /* 버튼 텍스트를 오른쪽 정렬 */
    margin-top: 20px;
    margin-right: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
    flex-shrink: 0;
    width: 100px;
    height: 40px;
    font-size: 25px;
}

.AddFont:hover {
    transform: translateY(2px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.post-container {
    order: 1;
    /* 게시물 컨테이너를 두 번째로 배치 */
    display: flex;
    flex-wrap: wrap;
    /* 포스트를 여러 줄에 걸쳐 나열 */
    justify-content: flex-start;
    /* 왼쪽 정렬 */
    align-items: flex-start;
    /* 이미지를 위쪽으로 정렬 */
    margin-right: 0px;
    margin-top: 0px;
    flex-grow: 1;
}

.post-input {
    order: 3;
    /* 새 게시물 입력 폼을 세 번째로 배치 */
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    /* 새 게시물 입력 폼이 전체 너비를 차지 */
    margin-top: 150px;
}

.post {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    /* padding을 포함한 너비 계산 */
}

@media (max-width: 576px) {
    .post {
        width: 100%;
        /* 작은 화면에서는 포스트를 한 줄에 하나씩 표시 */
    }
}

@media (min-width: 577px) {
    .post-container {
        justify-content: flex-start;
        /* 왼쪽 정렬 */
        flex-direction: row;
    }

    .post {
        flex-basis: 30%;
        /* 각 포스트의 기본 너비 설정 */
        margin: 10px;
        /* 포스트 사이 간격 설정 */
    }
}


.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input-field {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* 버튼 그룹의 너비를 100%로 설정하여 오른쪽 정렬 */
}

.btnOn {
    float: right;
    margin-right: 0.5cm;
    margin-bottom: 1cm;
    background-color: rgba(118, 174, 241, 1);
    border: none;
    padding: 0.2cm 0.4cm;
    border-radius: 10px;
    border: 2px solid rgb(41, 120, 218);
    animation-delay: 0;
    animation-duration: 1s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
    color: white;
}

.btnOn:hover {
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.post-box {
    border: 2px solid #27910d;
    border-radius: 7px;
    background-color: #f9f9f9;
    padding: 30px;
    height: 250px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.title-box h3 {
    margin: 0;
}

.delete-button {
    color: #999;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    border: 2px solid rgb(41, 120, 218);
    color: rgba(118, 174, 241, 1);
}

.delete-button:hover {
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.image-preview {
    max-width: 100%;
    max-height: 120px;
    margin-top: 10px;
}

.input-field input,
.input-field textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.comment-input {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    max-width: 250px;
    max-height: 200px;
}

.input-field {
    display: flex;
    align-items: center;
}

.input-field input[type="text"] {
    width: 200px;
    height: 32px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.input-field button {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.input-field button:hover {
    background-color: #0056b3;
}

.comment {
    border: 2px solid #709467;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 250px;
    margin-top: 10px;
    background-color: #ffffff;
    overflow: auto;
}

.comment p {
    margin: 0;
    font-size: 20px;
    text-align: left;
}

.comment span {
    font-size: 18px;
    color: #080808;
    word-wrap: break-word;
}

.content-box {
    color: black;
}